[submodule "nn4mc_py"]
	path = nn4mc_py
	url = https://github.com/correlllab/nn4mc_py.git
[submodule "nn4mc_cpp"]
	path = nn4mc_cpp
	url = https://github.com/correlllab/nn4mc_cpp.git
[submodule "nn4mc_web"]
	path = nn4mc_web
	url = https://github.com/correlllab/nn4mc_web.git
